@font-face {
    font-family: 'Bodoni';
    src: url('fonts/BauerBodoniStd-BoldItalic.eot');
    src: url('fonts/BauerBodoniStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/BauerBodoniStd-BoldItalic.woff') format('woff'), url('fonts/BauerBodoniStd-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Roman.eot');
    src: url('fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-Roman.woff') format('woff'), url('fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;
    overflow: hidden;
  }

h1 {
    font-family: 'Bodoni';
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 4em;
    margin: 0;
}