@font-face {
    font-family: 'Bodoni';
    src: url('fonts/BauerBodoniStd-BoldItalic.eot');
    src: url('fonts/BauerBodoniStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/BauerBodoniStd-BoldItalic.woff') format('woff'), url('fonts/BauerBodoniStd-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Roman.eot');
    src: url('fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-Roman.woff') format('woff'), url('fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    margin:0;
    overflow: hidden;
  }

/* ^^^ Alles hier oben besser sein lassen ^^^ */
/* vvv Ab hier kann verändert werden      vvv */

h1 {
    font-family: 'Bodoni';
    color: #ffffff; /* Schriftfarbe des Textes auf Webseite, um HEX-Code von anderer Farbe zu generieren: https://htmlcolorcodes.com/color-picker/ */
    position: absolute; /* better don't touch */
    bottom: 45%; /* Wie viel Prozent von UNTEN der Text positioniert wird */
    right: 45%; /* Wie viel Prozent von RECHTS der Text positioniert wird */
    font-size: 5.5em; /* Schriftgrösse des Textes */
    margin: 0; /* better don't touch */
}